
    <hr class="m-0">
    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="Education">
      <div class="w-100">
        <h2 class="mb-5">Education</h2>
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne"
                  aria-expanded="false" aria-controls="collapseOne">
                SSLC
                </button>
              </h2>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
              I finished my 10th standard Government higher secondary school, Nilakottai
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                  aria-expanded="false" aria-controls="collapseTwo">
                  HSC
                </button>
              </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                I finished my 12th standard Government higher secondary school, Nilakottai
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
                  aria-expanded="false" aria-controls="collapseThree">
                UG
                </button>
              </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body">
                I finished my UG degree in Computer science, Jayaraj Chelladura Colleage, Periyakulam.             </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingfour">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapsefour"
                  aria-expanded="false" aria-controls="collapsefour">
                  PG
                </button>
              </h2>
            </div>
            <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordionExample">
              <div class="card-body">
                I finished my PG degree in Master of Computer science, Manonmaniam Sundaranar University, Tirunelveli. 
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>