<div class="container-fluid p-0">
    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h1 class="mb-0 name animated bounceInDown">Rajkumar</h1>
            <p class="lead mb-5 mt-5">Strong interpersonal, self-confidence in tackling any sort of problems. Good interacting capability, fast learner and keen to learn more. 
            </p>
            <div class="social-icons">
              <a href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
              <a href="#">
                <i class="fab fa-github"></i>
              </a>
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <hr>
