<section class="resume-section p-3 p-lg-5  d-flex align-items-center" id="Skills">
    <div class="w-100">
      <h2 class="mb-5">Skills</h2>
      <div class="subheading mb-3">Programming Languages &amp; Tools</div>
      <div>
         <p class="skill">The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks
            and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her
            initial into the belt and made herself on the way.</p>
        </div>
        <div class="call-outs-container">
        <div class="call-outs">
          <h5>HTML5</h5>
          <div class="line line1 text-center">90%</div>
        </div>
        <div class="call-outs">
          <h5>CSS 3</h5>
          <div class="line line2 text-center">90%</div>
        </div>
      </div>
      <div class="call-outs-container">
        <div class="call-outs">
          <h5>BOOTSTRAP4</h5>
          <div class="line line3 text-center">80%</div>
        </div>
        <div class="call-outs">
          <h5>JAVASCRIPT</h5>
          <div class="line line4 text-center">70%</div>
        </div>
      </div>
      <div class="call-outs-container">
        <div class="call-outs">
          <h5>jQUERY</h5>
          <div class="line line5 text-center">70%</div>
        </div>
        <div class="call-outs">
          <h5>ANGULAR8</h5>
          <div class="line line6 text-center">20%</div>
        </div>
      </div>
    </div>
  </section>
